{% extends 'base.html.twig' %}

{% block title %}Espace CV
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/toggle_right_menu.js') }}" defer></script>
{% endblock %}

{% block header %}
	{% include "./partials/header.html.twig" %}
{% endblock %}

{% block body %}
	<div class="row">
		<section class="col border-end border-success">
			<h2>Contenus du CV :</h2>
			{{ cv.title|raw }}
			{% if headings %}
				<h3 class="h4">Eléments de votre CV :</h3>
				<ul class="list-group list-group-flush">
					{% for heading in headings %}
						<li class="list-group-item">
							{{ heading.title|replace({'<p>': '<span>','</p>': '</span>'})|raw }}
							<a href="{{ path('user_editheading', {c_id: cv.id, h_id: heading.id}) }}" class="text-black">
								<i class="fa fa-edit" title="Modifier la rubrique"></i>
							</a>
							&nbsp;
							<a href="{{ path('user_removeheading', {c_id: cv.id, h_id: heading.id}) }}" class="text-black" onclick="return confirm('Voulez vous vraiment supprimer cette rubrique du CV.')" ;>
								<i class="fas fa-unlink " title="Supprimer la rubrique du CV"></i>
							</a>

							{% if heading.articles|length %}
								<div class="m-0">
									<a href="{{ path('user_newarticle', {c_id: cv.id, h_id: heading.id}) }}" class="text-black">
										<i class="fas fa-plus " title="Ajouter un contenu"></i>
									</a>
								</div>
								{% for article in heading.articles %}
									<card>
										{{ article.title|replace({'<p>': '<span>','</p>': '</span>'})|raw }}
										<a href="{{ path('user_editarticle', {c_id: cv.id, a_id: article.id}) }}" class="text-black">
											<i class="fas fa-edit" title="Modifier le contenu"></i>
										</a>
										&nbsp;
										<a href="{{ path('user_removearticle', {c_id: cv.id, a_id: article.id}) }}" class="text-black" onclick="return confirm('Voulez vous vraiment supprimer ce contenu.')" ;>
											<i class="far fa-trash-alt " title="Supprimer le contenu"></i>
										</a>
										{{ article.content|raw }}
									</card>

								{% endfor %}
							{% else %}
								<p>
									Cette rubrique n'a pas de contenu
									<a href="{{ path('user_newarticle', {c_id: cv.id, h_id: heading.id}) }}" class="text-black">
										<i class="fas fa-plus " title="Ajouter un contenu"></i>
									</a>
								</p>
							{% endif %}

						</li>
					{% endfor %}
				</ul>
			{% else %}
				<card>
					<p>Vous n'avez pas encore créé ou ajouté de rubriques pour ce CV.</p>
				</card>
			{% endif %}
		</section>

		<section class="col">
			{% include "./partials/identity.html.twig" %}
			<ul class="list-group list-group-flush" id="ulCv">
				<li class="list-group-item">
					<button class="btn btn-success btn-block toggleButton" type="button" id="toggleCv">
						Votre CV de
						{{ cv.title|striptags|raw }}
						<i class='fas fa-angle-down' style="display:inline-block;"></i>
						<i class='fas fa-angle-up' style="display:none;"></i>
					</button>
				</li>
				<li id="cv" class="list-group-item toggleContent" style="display:none;">
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							Intitulé du poste :
							{{ cv.title|striptags|raw }}
						</li>
						<li class="list-group-item">
							Adresse de votre CV :
							{{ app.request.schemeAndHttpHost }}/{{ cv.slug }}
						</li>
						<li class="list-group-item">
							<a href="{{ path('user_editcv', {id: cv.id}) }}" class="btn btn-outline-success">Modifier l'intulé de votre CV</a>
						</li>
					</ul>
				</li>
				<li class="list-group-item">
					<a href="{{ path('user_newheading', {id: cv.id}) }}" class="btn btn-success">Une nouvelle rubrique pour votre CV ?</a>
				</li>
				<li class="list-group-item"></li>
			</ul>
			{% if all_headings %}
				<h5>Les rubriques existantes :</h5>
				{% for error in app.flashes('error') %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endfor %}
				<ul class="list-group list-group-flush" id="">
					{% for heading in all_headings %}
						<li class="list-group-item">
							{{ heading.title|replace({'<p>': '<span>','</p>': '</span>'})|raw }}
							<a href="{{ path('user_addheading', {c_id: cv.id, h_id: heading.id}) }}" class="text-black">
								<i class="fas fa-plus " title="Ajouter au CV"></i>
							</a>
							&nbsp;
							{# Ajouter une alerte avec si la rubrique contient du contenu, celui-ci sera supprimé #}
							<i class="far fa-trash-alt " title="Supprimer"></i>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<ul class="list-group list-group-flush" id="">
					<li class="list-group-item">
						<p>Aucune rubrique n'a encore été créée.</p>
					</li>
				</ul>
			{% endif %}

		</section>
	</div>
{% endblock %}

{% block footer %}
	{% include "./partials/footer.html.twig" %}
{% endblock %}
