{% extends 'base.html.twig' %}

{% block title %}Création d'un contenu d'une rubrique
{% endblock %}

{% block header %}
	{% include "./partials/header.html.twig" %}
{% endblock %}

{% block body %}
	<pre>
	{{ dump(message) }}
</pre>
	<h2>Création d'un contenu de la rubrique :
		{{ heading.title|raw }}</h2>
	<section>
		{{form_start(form_newarticle)}}
		{{form_row(form_newarticle.title)}}
		{{form_row(form_newarticle.content)}}
		<div class="d-flex justify-content-around">
			{{form_row(form_newarticle.submit)}}
			<div>
				<a href="{{ path('user_cv', {id: cv.id}) }}" class="btn btn-outline-primary">Annuler</a>
			</div>
		</div>
		{{form_end(form_newarticle)}}
	</section>

{% endblock %}

{% block footer %}
	{% include "./partials/footer.html.twig" %}
{% endblock %}
