{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/identity.js') }}" defer></script>
{% endblock %}

{% block header %}
	{% include "./partials/header.html.twig" %}
{% endblock %}

{% block body %}
	<div class="row">
		<section class="col border-end border-success">
			<h2>Vos CV :</h2>
			{% if cvs %}
				<ul class="list-group list-group-flush">
					{% for cv in cvs %}
						<li class="list-group-item">
							{{ cv.title }}
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<card>
					<p>Vous n'avez pas encore créé de CV.</p>
				</card>
			{% endif %}
		</section>

		<section class="col">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<button class="btn btn-success" type="button" id="toggleIdentity">
						Votre identité
						<i class='fas fa-angle-down' style="display:inline-block;"></i>
						<i class='fas fa-angle-up' style="display:none;"></i>
					</button>
					<p class="text-danger">{{ message }}</p>
				</li>
				<li id="identity" class="list-group-item" style="display:none;">
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<image src="{{ asset('picture_uploads/'~app.user.identity.picture) }}" alt="Ici une photo d'identité ?" width="150">
						</li>
						<li class="list-group-item">Nom :
							{{ app.user.identity.lastname }}</li>
						<li class="list-group-item">Prénom :
							{{ app.user.identity.firstname }}</li>
						<li class="list-group-item">Adresse :
							{% if app.user.identity.address is null %}
								<span class="text-danger">Champ adresse non rempli</span>
							{% else %}
								{{ app.user.identity.address }}
							{% endif %}
						</li>
						<li class="list-group-item">Code postal :
							{% if app.user.identity.zipcode is null %}
								<span class="text-danger">Champ code postal non rempli</span>
							{% else %}
								{{ app.user.identity.zipcode }}
							{% endif %}
						</li>
						<li class="list-group-item">Ville :
							{% if app.user.identity.city is null %}
								<span class="text-danger">Champ ville non rempli</span>
							{% else %}
								{{ app.user.identity.city }}
							{% endif %}
						</li>
						{% if app.user.identity.state %}
							<li class="list-group-item">Pays :
								{{ app.user.identity.state }}
							</li>
						{% endif %}
						<li class="list-group-item">Email :
							{{ app.user.identity.email }}</li>
						<li class="list-group-item">Télephone :
							{% if app.user.identity.telephone is null %}
								<span class="text-danger">Champ téléphone non rempli</span>
							{% else %}
								{{ app.user.identity.telephone }}
							{% endif %}
						</li>
						<li class="list-group-item">
							<a href="{{path('user_identity')}}" class="btn btn-outline-success">Compléter/Modifier votre identité</a>
						</li>
					</ul>
				</li>
				<li class="list-group-item">
					<a href="{{path('user_newcv')}}" class="btn btn-success">Un nouveau CV pour quel job ?</a>
				</li>
			</ul>
		</section>
	</div>
{% endblock %}
{% block footer %}
	{% include "./partials/footer.html.twig" %}
{% endblock %}
