{% extends 'base.html.twig' %}

{% block title %}Modification d'un contenu d'une rubrique de votre CV
{% endblock %}

{% block header %}
	{% include "./partials/header.html.twig" %}
{% endblock %}

{% block body %}
	<h2>Modification du</h2>
	{{ article.title|raw }}
	<section>
		{{form_start(form_editarticle)}}

		{{form_row(form_editarticle.title, { 'value': article.title })}}
		{{form_row(form_editarticle.content, { 'value': article.content })}}
		<div class="d-flex justify-content-around">
			{{form_row(form_editarticle.submit)}}
			<div>
				<a href="{{ path('user_cv', {id: cv.id}) }}" class="btn btn-outline-primary">Annuler</a>
			</div>
		</div>
		{{form_end(form_editarticle)}}
	</section>

{% endblock %}

{% block footer %}
	{% include "./partials/footer.html.twig" %}
{% endblock %}
